body {
background: #bedbbb;
color: #965d62
font-family: 'Lora', serif;
font-size: 17px;
font-weight: lighter; 
}

h1 , h2, h3 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: #61b15a;
	font-size: 32px;
	font-weight: 900;
}
h2 {
	color: #adce74;
	font-size: 20px;
	font-weight: 500;
}
a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color: black;
}

#logo{
	width: 150px;
}

.img-circle{
	border-radius: 50%;
}
.img-bordered {
	border: 2px solid pink;
}
.btn-pink{
	background-color: #fdcfdf;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-pink:hover {
	background-color: #e05297;
	color: white;
}

.container {
	width: 700px;
	margin: 40px auto;
}

.container{
	background-color: white;
	}
	@media (max-width: 720px) {
	.container{
		width: 500px;
	}
	}
	@media (max-width: 540px) {
	.container{
		background-color: #fdcfdf;
		width: 300px;
	}
} 

.card-white {
	background-color: white;
	padding: 30px;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin: 20px 10px;
    text-align: center;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 30px;
	color: #fdcfdf;
}
.list-inline i:hover{
	color: #e05297;
}
#introduction p {
	margin-bottom: 40px;
}